.toolbar {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
}

.table th,
.table td {
    vertical-align: middle;
    font-size: 15px;
    border: 1px solid black;
}

p {
    font-size: 35px;
    text-align: center;
    margin-top: 20px; 
}