<section class="content">
    <div class="content-block">   
      <div class="row justify-content-center custom-margin">
        <div class="col-auto">
          <span><h1 class="">Get Quick Help</h1></span>
        </div>
      </div>  
  
      <!-- Cards -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-2 col-sm-2 custom-row">
          <div class="card custom-shadow" routerLink="/system/report/maintenance">
            <div class="card-body">
                <mat-panel-title class="nav-title d-flex justify-content-center">
                  <mat-icon>error</mat-icon>
                  <span class="font-weight-bold ml-3">Report an issue</span>
                </mat-panel-title>
              <p class="text-black custom-paragraph">
                Contact IT to support something that is broken 
                <br>
                e.g WIFI down/Network down/AUTO branch
                <br>
                Error/Finaccle show
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-2 col-sm-2 custom-row">
          <div class="card custom-shadow" routerLink="/system/suggest-idea">
            <div class="card-body">
                <mat-panel-title class="nav-title d-flex justify-content-center">
                  <mat-icon>lightbulb</mat-icon>
                  <span class="font-weight-bold ml-3">Suggest an idea</span>
                </mat-panel-title>
                <p class="text-black custom-paragraph">
                  Suggest new features and modules that 
                <br>
                can be added in the system to improve 
                <br>
                efficiency.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-2 col-sm-2 custom-row">
          <div class="card custom-shadow" routerLink="/system/escalate/maintenance">
            <div class="card-body">
                <mat-panel-title class="nav-title d-flex justify-content-center">
                  <mat-icon>warning</mat-icon>
                  <span class="font-weight-bold ml-3">Escalate an issue</span>
                </mat-panel-title>
              <p class="text-black custom-paragraph">
                Escalate an issue for further support  
            <br>
            if a previous raised ticket has 
            <br>
            recommended an escalation.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-2 col-sm-2 custom-row">
          <div class="card custom-shadow" routerLink="/system/knowledge-base">
            <div class="card-body">
                <mat-panel-title class="nav-title d-flex justify-content-center">
                  <mat-icon>library_books</mat-icon>
                  <span class="font-weight-bold ml-3">Knowledge base</span>
                </mat-panel-title>
              <p class="text-center text-black custom-paragraph ">
                Click here to learn more on the   
            <br>
            operationalization of the system.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>