.card {
  padding: 10px;
  margin: 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-box7 {
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.info-box7 h5,
.info-box7 h2,
.info-box7 h4 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 20px;
}

.info-box7 h4 {
  margin-bottom: 20px;
}

.progress-bar {
  margin-top: 10px;
}

.bg-emtech {
  background-color: rgb(139, 0, 0, 1);

}