<div class="authBackground">
  <div class="row auth-main">
    <div class="col form-box">
      <div class="form-section">
        <div class="auth-wrapper">
          <div class="text-center">
            <!-- Placeholder for Logo, uncomment if needed -->
            <div>
              <img src="/assets/Images/ABSA_Group_Limited_Logo.no background.png" width="160px" height="140px" class="px-2 mx-2" alt="" />
            </div>
          </div>

          <strong>
            <h2 class="mb-4">Reset Password</h2>
          </strong>
          <p style="color: #423f3f">Enter your email address below:</p>
          
          <h3>Forgot Password?</h3>
          <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email Address</mat-label>
                  <input matInput formControlName="emailAddress" />
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="submitted && f.emailAddress.errors">
                    <span *ngIf="f.emailAddress.errors.required">Email is required</span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Reset Password
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <br>
            <a class="pull-left" routerLink="/sso">Login</a>
          </form>
        </div> 
        <div class="badge badge-solid-green mt-3">
          <small>
            <a href="https://emtechhouse.co.ke" target="_blank" style="color: #000000">Powered by E&M Technology House</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
