.authBackground {
  background-color: rgb(122, 10, 10);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-box {
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 50px 50px 50px 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

h6, h3, h2 {
  text-align: center;
  color: #fff; /* Change color to match the login page */
  font-family: Georgia, serif;
}

.container-auth-form-btn {
  margin-top: 20px;
}

.auth-form-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.show-pwd-icon {
  cursor: pointer;
}

.social-login-title {
  text-align: center;
  margin-top: 20px;
  color: #fff; /* Change color to match the login page */
}

.social-icon a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}
