p,
h2,
.matSubheader {
  color: white;
  font-size: 20px;
}

.header {
  text-align: left !important;
}

.mat-icon {
  color: white !important;
  font-size: 20px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0px !important;
}

a,
.mat-panel-title {
  color: white !important;
  font-size: 20px !important;
  font-weight: 450 !important;
  height: min-content !important;
  flex: block !important;
  letter-spacing: normal !important;
}

// ACTIVE ITEMS
.list-item-active {
  background-color: rgba(178, 0, 67, 100) !important;
  height: min-content !important;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  align-items: center;
}


// HOVER ON ITEMS
a:hover {
  background-color: rgba(178, 0, 67, 100) !important;
  height: min-content !important;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  align-items: center;
}

.mat-panel-title:hover {
  background-color: rgba(178, 0, 67, 100) !important;
  height: min-content !important;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  align-items: center;
}


.mat-list-item {
  font-size: 14px !important;
}

// ALL ITEM MAIN STYLE
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding: 5px;
  background-color: rgb(63, 60, 60);
}

.nav-title {
  color: white !important;
  font-size: 18px !important;
  height: min-content !important;
  flex: block !important;
  font-weight: 450 !important;
  letter-spacing: normal !important;
}

.mat-elevation-z0 {
  background: rgb(63, 60, 60) !important;
  color: white !important;
}

.mat-nav-list {
  font-size: 20px;
}

.mat-drawer {
  color: white !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after,
.mat-expansion-indicator {
  color: white !important;
}

.mat-divider {
  border-top-color: white;
}

mat-menu {
  margin: 10px;
  margin: auto;
}

a {
  padding-bottom: 2px !important;
  margin-bottom: 1px !important;
  font-size: 20px !important;
  font-weight: 450 !important;
  letter-spacing: normal !important;
}

.expansion {
  color: rgb(129, 129, 129);
  float: right !important;
}

.app-nav-accordion {
  color: azure;

  .mat-expansion-panel {
    border-radius: 10px !important;
    box-shadow: none !important;

    &.mat-expansion-panel-spacing {
      margin: 0px;
    }

    .mat-expansion-panel-body {
      padding: 0px;
    }

    .mat-expansion-panel-header {
      height: 40px;
      padding: 0px 24px 0px 16px;
      font-size: 16px !important;
      font-weight: 450 !important;
      letter-spacing: normal !important;
    }

    .mat-expansion-panel-header:hover {
      background-color: rgba(178, 0, 67, 100) !important;
      height: min-content !important;
      border-radius: 10px;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-top: 10px;
      align-items: center;
    }


    .mat-expansion-panel-header-title {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}