<mat-card>
    <div *ngIf="loading">
      <p><small>Processing, please wait...</small></p>
      <p>
        <mat-progress-bar mode="query"></mat-progress-bar>
      </p>
    </div>
    <mat-card-header class="breadcrumb">
      <div>
        <a routerLink="/system">Dashboard / </a>
        <a routerLink="/system/assignee/maintenance">Manage Maintenance / </a>manage
      </div>
    </mat-card-header>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h4>Function:- <strong>{{this.fmData.function_type}}</strong> </h4>
          </div>
        </div>
      </div>
      
    </div>
    <mat-divider></mat-divider>
    <br>
    <div class="container-fluid">
      <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()" #resetRequestsForm="ngForm" novalidate>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
                <label>category<span class="text-danger" *ngIf="showWarning">*</span></label>
              </div>
              <div class="col-md-6 col-sm-12 form-column">
                <input type="text" class="form-control" formControlName="category"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="120" minlength="2"/>
                <mat-icon color="primary" (click)="categoryCodeLookup()" *ngIf="onShowSearchIcon">search</mat-icon>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
                <label>priority<span class="text-danger" *ngIf="showWarning">*</span></label>
              </div>
              <div class="col-md-6 col-sm-12 form-column">
                <input type="text" formControlName="priority" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.priority.errors }"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxlength="100" minlength="1" />
                  <mat-icon color="primary" (click)="priorityCodeLookup()" *ngIf="onShowSearchIcon">search</mat-icon>
              </div>
              
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
                <label>title<span class="text-danger" *ngIf="showWarning">*</span></label>
              </div>
              <div class="col-md-6 col-sm-12 form-column">
                <input type="text" formControlName="title" class="form-control"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxlength="100" minlength="1" />
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
                <label>description<span class="text-danger" *ngIf="showWarning">*</span></label>
              </div>
              <div class="col-md-6 col-sm-12 form-column">
                <input type="text" class="form-control" formControlName="description"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="120" minlength="2"/>
              </div>
            </div>
          </div>          
        </div>
        <br>
        <hr>
        <br>
        <button mat-raised-button type="submit" class="pull-left bg-secondary text-white"
          routerLink="/system/manage-ticket">BACK</button>
        <button [disabled]="submitting" *ngIf="!hideBtn" class="pull-right" mat-raised-button [color]="btnColor" type="submit">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{btnText}}
        </button>
        <br>
      </form>
    </div>
  </mat-card>
  